header {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/checkinchill-25-08-2016-23.png');
    background-size: cover;
    overflow: hidden;
    
    background-color: antiquewhite;
}

.navbar {
    width: 100%;
}

.navbar h1 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    transform: translateX(-70%);
    left: 50%;
}